# Defining bind address for influxdb
http-bind-address: ":8086"
# The SSL certificate to use when HTTPS is enabled.
tls-cert: "{{ influxdb_certs_dir }}/{{ influxdb_crt }}"
# Use a separate private key location.
tls-key: "{{ influxdb_pvt_dir }}/{{ influxdb_pem }}"
# Minimum version of the tls protocol that will be negotiated. If not specified, uses the
# default settings from Go's crypto/tls package.
tls-min-version: "1.2"